<div class="container">
  <div class="card">
    <div class="card-header">
      En-tête
    </div>
    <div class="card-body">
      <h5 class="card-title"> Titre</h5>
      <p>welcome to {{title}}</p>
  <h1 [innerText]="title"></h1>
  <h2>exemple1</h2>
  <button [disabled]="isDisabled">iam disabled </button>
  <h2>exemple2</h2>
  <button (click)="clickMe()">clickMe </button>
  <p>you have clicked {{clickCount}}</p>
</div>
</div>

  <h2> Example 3</h2>
  <input type="text" [(ngModel)]="name">
  <p> You entered {{name}}</p>
  <button (click)="clearName()">Clear</button>
  <p class="card-text"> Introduction à du contenu supplémentaire. </p>
  <a href="#" class="btn btn-primary"> Aller à</a>

  
  <h1>simple exemple of ngif</h1>
    <div class="row">
      show<input type="checkbox"[(ngModel)]="showMe"/></div>
      <h1>nglf </h1>
        <p *ngIf="showMe">
        ShowMe is checked
        </p>
        <p *ngIf="!showMe">
        ShowMe is unchecked
        </p>
        <h1 >nglf Else</h1>
        <p *ngIf="showMe; else elseBlock1">
        ShowMe is checked</p>
        <ng-template #elseBlock1>
        <p> ShowMe is unchecked Using elseBlock</p>
        </ng-template>
        <h1 >ngIf then else</h1 >
        <p *ngIf="showMe; then thenBlock2 else elseBlock2">
        This is not rendered
        </p>
        <ng-template #thenBlock2>
        <p> ShowMe is checked Using thenblock</p>
        </ng-template>
        <ng-template #elseBlock2>
        <p> ShowMe is unchecked Using elseBlock</p>
        </ng-template>
        <h1>using hidden </h1>
        <P [hidden]="showMe">
          content to render, when the condition is true using hidden property binding
        </P>
        <p [hidden]="!showMe">
        content to render, when the condition is false. using hidden property binding
        </p>
<div class="card">
<div class="card-header">
  ngSwitch Example
</div>
<div class="card-body">
Input string : Sinput type='text' [(ngModel)]="num" />
<div [ngSwitch]="num">
<div *ngSwitchCase="'1'">Onc</div>
<div *ngSwitchCase="'2'">Two</div>
<div *ngSwitchCase="'3'">Three</div>
<div *ngSwitchCase="'4'">Four</div>
<div *ngSwitchCase="'5'"> Five</div>
<div *ngSwitchDefault> This is Default</div>
</div>
</div>
</div>

<div class='card'>
  <div class='card-header>
  <>Nested Array</p>
  </div>
  <div class='table-responsive'>
  <table class='table table-bordered table-sm '>
  <thead class="thead-dark">
  <tI>
  <th> index </th> <th> Name</th>
  <th> Mail</th>
  <th> Skills</th>
  </tr>
  </thead>
  <body>
  <tr *ngFor="let employee of employees;let i=index; let o= odd; let e=even;" [ngClass]=" {
  odd: o, even: e ]"> <d> {{i+1),</td>
  <10>1 {employee.name; i</td>
  <d> ({employee.email} /</td>
  <td>
  <table class='table table-sm'> <tbody>
